@import '/src/scss/mixins.scss';

.logo {
	$self: &;

	margin: 0;

	&__wrapper {
		display: flex;
		gap: 1rem;
		color: white !important;
		font-family: 'Roboto Mono', monospace;
		font-weight: 700;
		@include font-size(1.5rem);
		text-decoration: none !important;
	}
	&__icon {
		padding: 0.25rem;
		border-radius: 0.5rem;
		background-color: white;
		color: var(--color-primary-400);
		@include font-size(1.5rem);
	}
}
