@import '/src/scss/breakpoints.scss';
@import '/src/scss/mixins.scss';

.form {
	&__title {
		margin-bottom: 1rem;
		text-align: center;
		@include font-size(1.5rem);
		font-weight: 100;
		text-transform: uppercase;
	}
	&__button {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 20rem;
		white-space: nowrap;
	}
	&__alternate {
		margin-top: 0.5rem;
		text-align: center;
		@include font-size(0.875rem);
	}
	&__forgot {
		margin-top: 1rem;
		text-align: center;
		@include font-size(1rem);
		font-weight: 300;
	}
}
@include media(min-sm) {
	.form {
		&__forgot {
			@include font-size(1.25rem);
		}
	}
}
