@import '/src/scss/mixins.scss';

.button {
	padding: 0.25rem 1rem;
	border: none;
	border-radius: 0.5rem;
	background-color: transparent;
	color: inherit;
	@include font-size(1rem);
	transition: ease 150ms;
	cursor: pointer;

	&--primary {
		background-color: var(--color-primary-400);
		color: white;

		&:hover {
			background-color: var(--color-primary-500);
		}
	}
	&--gray {
		background-color: var(--color-gray-200);
		color: var(--color-gray-500);

		&:hover {
			background-color: var(--color-gray-300);
		}
	}
	&--transparent {
		background-color: transparent;
		color: inherit;

		&:hover {
			background-color: transparent;
		}
	}
}